In [1]:
import pandas as pds

# Preparing the dataset

In [15]:
column_names_quantitatives = ["Elevation","Aspect","Slope","HorDistToHydro","VertDistToHydro","HorDistRoad","Hillshade09","Hillshade12","Hillshade15","HorDistFire"]
column_names_categoric = ["WA_RWA","WA_NWA","WA_CPWA","WA_CLPWA"]
column_names_soil_type = ["Soil_Type" + str(x) for x in range(40)]
column_names_cover_type = ["Cover_Type"]
all_column = column_names_quantitatives + column_names_categoric + column_names_soil_type + column_names_cover_type

In [16]:
dataset = pds.read_csv('covtype.data/covtype.data', names = all_column)

In [17]:
dataset.head()

,Elevation,Aspect,Slope,HorDistToHydro,VertDistToHydro,HorDistRoad,Hillshade09,Hillshade12,Hillshade15,HorDistFire,...,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Cover_Type
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5